@import 'variables';

body {
    font-size: .9rem;
}

.App {
    font-family: $montserrat; 
}

.typed-cursor {
    @apply text-primary;
}

.shadow-light-hover {
    &:hover {
        &.shadow-right {
            -moz-box-shadow: 3px 0px 11px 0px rgba(239,255,233,0.3);
	        -webkit-box-shadow: 3px 0px 11px 0px rgba(239,255,233,0.3);
            box-shadow: 3px 0px 11px 0px rgba(239,255,233,0.3);
        }
        
        &.shadow-left {
            -moz-box-shadow: -3px 0px 11px 0px rgba(239,255,233,0.3);
	        -webkit-box-shadow: -3px 0px 11px 0px rgba(239,255,233,0.3);
            box-shadow: -3px 0px 11px 0px rgba(239,255,233,0.3);
        }
    }
}

a { 
    &:hover {
        text-decoration: none;
    }
}

button, .btn {
    outline: 0;
    cursor: pointer;
    
    &:focus,
    &:active {
        box-shadow: none !important;
        outline: 0 !important;
    }

    
}

