@import 'variables';
@import 'bootstrap';
@import 'responsive';

.App {
    font-family: $montserrat; 
}

.shadow-light-hover {
    &:hover {
        &.shadow-right {
            -moz-box-shadow: 3px 0px 11px 0px rgba(239,255,233,0.3);
	        -webkit-box-shadow: 3px 0px 11px 0px rgba(239,255,233,0.3);
            box-shadow: 3px 0px 11px 0px rgba(239,255,233,0.3);
        }
        
        &.shadow-left {
            -moz-box-shadow: -3px 0px 11px 0px rgba(239,255,233,0.3);
	        -webkit-box-shadow: -3px 0px 11px 0px rgba(239,255,233,0.3);
            box-shadow: -3px 0px 11px 0px rgba(239,255,233,0.3);
        }
    }
}

a {
    color: $brand-primary-color;
    
    &:hover {
        text-decoration: none;
        color: $brand-secondary-color !important;
    }

    &.link-secondary-color {
        color: $link-secondary-color;

        &:hover {
            color: $link-secondary-color-dark !important;
        }
    }
}

button, .btn {
    outline: 0;
    cursor: pointer;
    
    &:focus,
    &:active {
        box-shadow: none !important;
        outline: 0 !important;
    }

    &.unstyled-btn {
        background: none;
        color: $brand-primary-color;
        border: 0;

        &:hover {
            background: $gray-light;
            color: $brand-primary-color;
            border: 0;
        }
    }

    &.outline-btn {
        border: 1px solid rgba(255, 255, 255, 0.2);
        color: $white;
        padding: .7rem 2rem;
        transition: .3s;
        border-radius: 10rem;
        font-size: .9rem;

        &:hover {
            border-color: $white;
            color: $white !important;
        }

        &.outline-primary {
            border-color: rgba(46, 196, 182, 0.2);
            color: $brand-primary-color;

            &:hover {
                border-color: $brand-primary-color;
                color: $brand-primary-color !important;
            }
        }
    }
}

.toggler-btn {
    font-size: 1rem;

    .icon {
        font-size: 2rem;
    }

    &:hover {
        color: $brand-primary-color;
    }
}

.default-color {
    color: $brand-font-color;
}

.primary-color {
    color: $brand-primary-color;
}

.graya-color {
    color: $grayA;
}

.grayb-color {
    color: $grayB;
}

.border-top-light {
    border-top: 1px solid $gray-light;
}

.border-bottom-light {
    border-bottom: 1px solid $gray-light;
}

.letter-spacing-2 {
    letter-spacing: 2px;
}

.h4 {
    font-size: 1.2rem;
    color: $brand-primary-color;
}


.h5 {
    font-size: .9rem;
    color: $grayB;
}

.light-badge {
    color: $light-badge-color;
    background: $light-badge-bg;

    &:hover {
        color: $light-badge-color-hover;
        background: $light-badge-bg-hover;
    }
}