@import 'variables';
@import 'bootstrap';
@import 'responsive';

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.shadow-light-hover {
    &:hover {
        &.shadow-right {
            -moz-box-shadow: 3px 0px 11px 0px rgba(239,255,233,0.3);
	        -webkit-box-shadow: 3px 0px 11px 0px rgba(239,255,233,0.3);
            box-shadow: 3px 0px 11px 0px rgba(239,255,233,0.3);
        }
        
        &.shadow-left {
            -moz-box-shadow: -3px 0px 11px 0px rgba(239,255,233,0.3);
	        -webkit-box-shadow: -3px 0px 11px 0px rgba(239,255,233,0.3);
            box-shadow: -3px 0px 11px 0px rgba(239,255,233,0.3);
        }
    }
}

a {
    color: $brand-primary-color;
    
    &:hover {
        text-decoration: none;
        color: $brand-secondary-color !important;
    }
}

button {
    outline: 0;
    cursor: pointer;

    &:focus,
    &:active {
        outline: 0;
    }
}

.default-color {
    color: $brand-font-color;
}

.primary-color {
    color: $brand-primary-color;
}

.border-top-light {
    border-top: 1px solid $gray-light;
}

.border-bottom-light {
    border-bottom: 1px solid $gray-light;
}

.letter-spacing-2 {
    letter-spacing: 2px;
}

.h4 {
    font-size: 1.2rem;
    color: $brand-primary-color;
}


.h5 {
    font-size: .9rem;
    color: $grayB;
}

.light-badge {
    color: $light-badge-color;
    background: $light-badge-bg;

    &:hover {
        color: $light-badge-color-hover;
        background: $light-badge-bg-hover;
    }
}