# Project dependencies
# https://www.npmjs.org/doc/misc/npm-faq.html#should-i-check-my-node_modules-folder-into-git
node_modules
yarn-error.log


# macOS
.DS_Store

# deployment-specific configs
now.json

# .env files
.env
.env.*

.next

# Local Netlify folder
.netlify

# Editors
.idea