@import '../variables';

#blog-layout {
    &.about-page {
        .about-content {
            font-size: .9rem;

            section {
                .section-title {
                    color: $brand-primary-color;
                }

                .company {
                    margin: 0 0 1rem;

                    .company-header {
                        .company-name {
                            font-size: 1.4rem;

                            .external-link-icon {
                                font-size: .9rem;
                            }
                        }
                    }

                    .tasks {
                        font-size: .9rem;
                    }

                    .toggler-btn {
                        width: 3rem;
                        height: 3rem;
                    }

                    .separator {
                        height: 1px;
                        margin: 3rem 0;

                        .w-200px {
                            width: 200px;
                        }

                        .line .fill {
                            background: $gray-light;
                        }
                    }
                }

                &.public-works {
                    font-size: .8rem;

                    .works {
                        .card {
                            flex: 1 0 25% !important;
                            margin-bottom: 30px;

                            .card-title {
                                font-size: .9rem;
                                color: $code-tag-color;
                            }

                            .card-subtitle {
                                font-size: .8rem;
                                color: $sidebar-color;
                            }
                        }

                    }

                }
            }
        }
    }
}