@import '../common.scss';

// page-level layout
#blog-page {
  font-family: $montserrat;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: $brand-font-color;

  & > .pageContent {
    flex: 1;
    overflow: auto;
    padding-top: 10px;
  }

  #sidebar {
    color: $sidebar-color;
    font-size: .9rem;
    border-right: 1px solid $sidebar-border-color;

    a {
      color: $sidebar-color !important;

      &:hover {
        color: $brand-font-color !important;
      }
    }

    .sidebar-header {
      .header-link {
        .title {
          .main-title {
            font-size: 1.3rem;
          }

          .subtitle {
            font-size: .8rem;
          }

          .networks {
            .network {
              .icon {
                width: 1.5rem;

                &:hover {
                  color: $brand-font-color !important;
                }
              }
            }
          }
        }
      }
    }

    .sidebar-content {
      margin-top: 2rem;

      .sidebar-techs {
        ul {
          .item {
            display: inline-block;
            margin-right: 1rem;

            img {
              width: 1rem;
            }
          }
        }
      }
    }
  }

  .pageContent {
    .blog-post {
      transition: all .3s;
      border-radius: 0;
      border: 1px solid $post-border-color;
      cursor: pointer;

      .calendar {
        font-size: .8rem;
        background: $brand-primary-color;
        color: $white;
        transition: all .3s;

        .day {
          font-size: 2rem;
          line-height: 1.7rem;
        }
      }

      .post-content {
        .post-title {
          color: $brand-primary-color;
          font-size: 1.4rem;
          transition: all .3s;
        }

        .post-tags {
          .badge {
            color: $brand-font-color;
          }
        }

        .post-excerpt {
          font-size: .9rem;
        }
      }

      &:hover {
        transition: all .3s;
        border-right: 5px solid $brand-secondary-color;

        .calendar {
          background: $brand-secondary-color;
          transition: all .3s;
        }

        .post-content {
          .post-title {
            color: $brand-secondary-color;
            transition: all .3s;
          }
        }
      }
      
    }
  }
}
