@import '../common.scss';

// page-level layout
.App {
  font-family: $montserrat;
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: $brand-font-color;

  & > .pageContent {
    flex: 1;
    overflow: auto;
    padding-top: 10px;
  }

  #sidebar {
    color: $sidebar-color;
    font-size: .9rem;

    a {
      color: $sidebar-color !important;

      &:hover {
        color: $brand-font-color !important;
      }
    }

    .sidebar-header {
      .header-link {
        .title {
          .main-title {
            font-size: 1.3rem;
          }

          .subtitle {
            font-size: .8rem;
          }
        }
      }
    }

    .sidebar-networks {
      .network {
        .icon {
          &:hover {
            color: $brand-font-color !important;
          }
        }
      }
    }

    .sidebar-menu {
      
    }
  }
}
