// Brand colors
$brand-font-color: #011627;
$brand-light-color: #EFFFE9;
$brand-primary-color: #2EC4B6;
$brand-secondary-color: #E71D36;

// Colors
$white: #FFFFFF;

// Fonts
@import url('https://fonts.googleapis.com/css?family=Montserrat');
$montserrat: 'Montserrat', sans-serif;